{% load static %}

<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
	<title> Registration</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/linearicons/style.css' %}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">



	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	
	
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="header">
								<div class="logo text-center"><img src="{% static 'img/signature (2).png' %}" alt=""></div>
								<p class="lead">Register your account</p>
							</div>
							<form class="form-auth-small" method = "POST" action="/registration/">
                                {% csrf_token %}
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">First Name</label>
									<input type="text" class="form-control" name="first_name" value="" placeholder="First Name">
								</div>
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Sur Name</label>
									<input type="text" class="form-control" name="last_name" value="" placeholder="Surname">
								</div>
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Email</label>
									<input type="text" class="form-control" name="email" value="" placeholder="Email">
								</div>
                                <div class="form-group">
									<label for="signin-email" class="control-label sr-only">Username</label>
									<input type="text" class="form-control" name="username" value="" placeholder="Username">
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">Password</label>
									<input type="password" class="form-control" name="password1" value="" placeholder="Password">
								</div>
                                <div class="form-group">
									<label for="signin-password" class="control-label sr-only">Password</label>
									<input type="password" class="form-control" name="password2" value="" placeholder=" Confirm Password">
								</div>
                                
								<button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
								
							</form>
						</div>
					</div>
					
					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<h1 class="heading"><strong>Click on Register to create an account</strong></h1>
							
							<div class="bottom">
								<span class="helper-text"><i class="fa fa-lock"></i> <a style = 'color:white;' href="{% url 'loginpatient' %}">Already have an account?</a></span>
							</div>
							<br>
							{% if form.errors %}
							<div class="alert1">
								<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
								{{form.errors}}
							</div>

							<style>
								.alert {
									opacity: 1;
									transition: opacity 0.6s;
									/* 600ms to fade out */
								}
							</style>

							<script>
								// Get all elements with class="closebtn"
								var close = document.getElementsByClassName("closebtn");
								var i;

								// Loop through all close buttons
								for (i = 0; i < close.length; i++) {
									// When someone clicks on a close button
									close[i].onclick = function () {

										// Get the parent of <span class="closebtn"> (<div class="alert">)
										var div = this.parentElement;

										// Set the opacity of div to 0 (transparent)
										div.style.opacity = "0";

										// Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
										setTimeout(function () { div.style.display = "none"; }, 600);
									}
								}
							</script>
							{% endif %}
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>

</html>