{% extends 'admins/adminsHome.html' %}
{% load static %}
{% block content %}



<div class="main-content-inner">


    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h4><strong>Patient List</strong></h4>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        
                    </tr>

                    {% for i in patientlist %}
                    <tr>
                        <td>{{i.first_name }}</td>
                        <td>{{i.last_name}}</td>
                        <td>{{i.username}}</td>
                        <td>{{i.email}}</td>
                      
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}