{% extends 'admins/adminsHome.html' %}
{% load static %}
{% block content %}

<div class="col-md-12">
    <!-- TABLE HOVER -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Last 10 Orders</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Date Ordered</th>
                        <th>Complete</th>
                        <th>Transaction ID</th>
                        <th>Authorized</th>
                    </tr>
                </thead>

                {% for i in patientlist %}
                <tbody>
                    <tr>
                        <td>{{i.patient }}</td>
                        <td>{{i.date_ordered}}</td>
                        {% if i.complete == False %}
                        <td>
                            <a class="btn btn-sm btn-info"
                                href="/completed/{{ i.id }}/approved"><span>Completed</span></a>
                        </td>
                        {% else %}
                        <td>{{i.complete}}</td>
                        {% endif %}
                        <td>{{i.transaction_id }}</td>
                        <td>{{i.authorize}}</td>



                    </tr>
                </tbody>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

</div>

{% endblock %}